<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org"
      layout:decorate="~{layout}" th:with="currentPage='Home Menu user'">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
        /* CSS styles */
        @media only screen and (max-width: 1200px) {
            table {
                border-collapse: collapse;
                width: 100%;
            }

            th, td {
                padding: 8px;
                text-align: left;
                border-bottom: 1px solid #ddd;
                display: block;
            }

            th {
                background-color: #f2f2f2; /* Màu nền cho cột th */
            }
        }

    </style>
</head>
<body>

    <div layout:fragment="content">

        <div class="contest-details">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="top-content">
                            <div class="row">
                                <div class="col-lg-8">
                                    <span th:if="${roleUser!=null}">
                                        <span class="open" th:text="${roleUser}"></span>
                                    </span>
                                    <span class="wish-list">
                                        <i class="fa fa-user"></i>
                                        <i th:text="${#authentication.name}"></i>
                                    </span>
                                </div>
                                <div class="col-lg-4">
                                    <ul>
                                        <li><i class="fa fa-medal"></i>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="col-lg-12">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${param.unauthorized}">
                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Failed:"><use xlink:href="#check-circle-fill"/></svg>
                                <strong>403 Unauthorized!</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>

                        <div class="main-content">
                            <div style="padding-bottom: 40px" th:if="${#lists.contains(userRoles, 'ROLE_USER')}">
                                <h4 style="margin-bottom: 10px">ATTENTION:</h4>
                                <script th:inline="javascript">
                                    alert("Create info to create jobs and book labor, Please!");
                                </script>
                                <ul style="list-style: disc; padding: 0px 20px">
                                    <li style="list-style: disc;">
                                        <span class="text-danger">Create info to create jobs and book labor, Please!</span>
                                    </li>
                                    <li style="list-style: disc;">
                                        <span class="text-danger">For create info labor, go to path /LABOR/CREATE INFO</span>
                                    </li>
                                    <li style="list-style: disc;">
                                        <span class="text-danger">For create info customer, go to path /CUSTOMER/CREATE INFO</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-6">
                                <div class="section-heading">
                                    <h6>Our labor jobs detail</h6>
                                    <h4><em>Our labor</em> jobs detail information</h4>
                                </div>
                            </div>

                            <table >
                                <tr>
                                    <th>N</th>
                                    <th>FullName</th>
                                    <th>Address</th>
                                    <th>Phone Number</th>
                                    <th>Number experience</th>
                                    <th>Official work address</th>
                                    <th>Name job</th>
                                    <th>Price job</th>
                                    <th>In city</th>
                                    <th colspan="3">ACTION</th>
                                </tr>
                                <tr id="app" th:each="jobDetail :${jobDetails}">
                                    <td th:text="${jobDetail.id}"></td>
                                    <td th:text="${jobDetail.labor.full_name}"></td>
                                    <td th:text="${jobDetail.labor.address}"></td>
                                    <td th:text="${jobDetail.labor.phone_number}"></td>
                                    <td th:text="${jobDetail.labor.number_experience + ' Year'}"></td>
<!--                                    <td th:if="${jobDetail.labor.status==1}">-->
<!--                                        <span>Free now</span>-->
<!--                                    </td>-->
<!--                                    <td th:if="${jobDetail.labor.status==0}">-->
<!--                                        <span>Busy now</span>-->
<!--                                    </td>-->
                                    <td th:text="${jobDetail.labor.address_work_official}"></td>
                                    <td th:text="${jobDetail.job.nameJob + ' - ' + jobDetail.job.categoryJob.categoryName}"></td>
                                    <td th:text="${#numbers.formatDecimal(jobDetail.job.price, 0, 'COMMA', 0, 'POINT') + ' VNĐ/day'}"></td>
                                    <td>
                                        <i class="text-info fa fa-city"></i>
                                        <span th:text="${jobDetail.labor.city.city_name}"></span>
                                    </td>
                                    <td>
                                        <a th:href="${'labors/' + jobDetail.labor.id}">DETAIL</a>
                                    </td>
                                    <td>
                                        <a class="text-danger comment-skill" th:id="'comment_skill_' + ${jobDetail.id}">COMMENT SKILL</a>

                                    </td>

                                    <td th:if="${#lists.contains(userRoles, 'ROLE_CUSTOMER')}">
                                        <form th:action="@{'/save/cart/job-detail/' + ${jobDetail.id}}" method="POST">
                                            <button class="btn btn-primary" type="submit" name="selectedJobId">BOOK NOW</button>
                                        </form>
                                    </td>
                                </tr>

                            </table>

                            <nav style="padding-left: 0px" aria-label="Page navigation example">
                                <ul class="pagination mt-4">
                                    <li class="page-item" th:each="page, status: ${pages}">
                                        <a class="page-link" th:href="@{/your-menu/(page=${status.index})}" th:text="${status.index}"></a>
                                    </li>
                                </ul>
                            </nav>

                            <br><br>
                            <h4>OUR JOB SERVICE INFORMATION</h4>

                                <table>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name job</th>
                                        <th>Price</th>
                                        <th>Description</th>
                                        <th>Image</th>
                                        <th th:colspan="2">ACTION</th>
                                    </tr>
                                    <tr th:each="job :${jobs}">
                                        <td>
                                            <span th:text="${job.id}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${job.nameJob}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${#numbers.formatDecimal(job.price, 0, 'COMMA', 0, 'POINT') + ' VNĐ/day'}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${job.description}"></span>
                                        </td>
                                        <td>
                                            <img width="100%" th:src="${'/assets/images/' + job.imageJob}" alt="">
                                        </td>
                                        <td>
                                            <a style="color: #00bdfe" th:href="@{'/jobs/show/' + ${job.id}}">DETAIL</a>
                                        </td>

                                        <td >
                                            <form th:action="@{'/save/cart/job/' + ${job.id}}" method="POST">
                                                  <span th:if="${labor_id != null}">
                                                    <input type="hidden" th:value="${labor_id}" name="labor_id" id="labor_id">
                                                  </span>
                                                <input type="hidden" th:value="${job.id}" name="id" th:id="'id_' + ${job.id}">
                                                <button th:if="${#lists.contains(roleUser, 'ROLE_LABOR')}" class="btn btn-primary" type="submit" name="selectedJobId">CHOOSE JOB</button>
                                            </form>
                                        </td>
                                    </tr>
                                </table>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>
</body>
</html>