<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" th:with="currentPage='Create post'">
<head>
    <meta charset="UTF-8">
    <title>Create post</title>
</head>
<body>
<div layout:fragment="content">

    <div class="contest-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="top-content">
                        <div class="row">
                            <div class="col-lg-8">
                                    <span th:if="${userRoles!=null}">
                                        <span class="open" th:text="${userRoles}"></span>
                                    </span>
                                <span class="wish-list">
                                        <i class="fa fa-user"></i>
                                        <i th:text="${#authentication.name}"></i>
                                    </span>
                            </div>
                            <div class="col-lg-4">
                                <ul>
                                    <li><i class="fa fa-medal"></i>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${param.unauthorized}">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Failed:"><use xlink:href="#check-circle-fill"/></svg>
                            <strong>403 Unauthorized!</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>

                    <div class="main-content">

                        <div class="col-lg-6">
                            <div class="section-heading mb-4 mt-0">
                                <h4 ><em>ĐĂNG</em> TIN TUYỂN DỤNG</h4>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <!--/*@thymesVar id="success" type="text"*/-->
                            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${success}">
                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                                <strong th:text="${success}"></strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <!--/*@thymesVar id="failed" type="text"*/-->
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${failed}">
                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Failed:"><use xlink:href="#check-circle-fill"/></svg>
                                <strong th:text="${failed}"></strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
<!--                                <b class="mb-4" th:text="${#strings.toUpperCase('image about Workplace')}"></b>-->
                                <div>
                                    <img width="100%" th:src="@{'/assets/images/timviec.png'}" alt="">
                                </div>
                            </div>
                            <div class="col-6">
                                <b class="mb-4" th:text="${#strings.toUpperCase('employer information')}"></b>
                                <br><br>
                                <form th:action="@{'/save/post'}" method="POST" enctype="multipart/form-data">
                                    <div class="mb-3">
                                        <label for="you_are" class="form-label">BẠN LÀ</label>
                                        <select name="you_are" id="you_are" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                            <option selected disabled>BẠN LÀ?</option>
                                            <option value="personal">CÁ NHÂN</option>
                                            <option value="company">CÔNG TY</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="business_name" class="form-label">TÊN HỘ KINH DOANH</label>
                                        <input type="text" class="form-control" name="business_name" id="business_name" >
                                    </div>
                                    <div class="mb-3">
                                        <label for="phone_number" class="form-label">SỐ ĐIỆN THOẠI</label>
                                        <input type="text" class="form-control" name="phone_number" id="phone_number" >
                                    </div>
                                    <div class="mb-3">
                                        <label for="official_address" class="form-label">ĐỊA CHỈ CHÍNH THỨC</label>
                                        <input type="text" class="form-control" name="official_address" id="official_address" >
                                    </div>
                                    <div class="mb-3">
                                        <label for="interview_time" class="form-label">THỜI GIAN PHỎNG VẤN / NHẬN VIỆC</label>
                                        <input type="date" class="form-control" name="interview_time" id="interview_time" >
                                    </div>

                                    <script>

                                        // Lấy thẻ input date
                                        const input = document.getElementById('interview_time');

                                        // Lấy ngày hiện tại
                                        const today = new Date();

                                        // Chuyển đổi ngày thành chuỗi đúng định dạng "yyyy-MM-dd"
                                        const year = today.getFullYear();
                                        let month = today.getMonth() + 1;
                                        month = month < 10 ? '0' + month : month; // Thêm số 0 phía trước nếu tháng chỉ có 1 chữ số
                                        let day = today.getDate();
                                        day = day < 10 ? '0' + day : day; // Thêm số 0 phía trước nếu ngày chỉ có 1 chữ số
                                        const formattedDate = year + '-' + month + '-' + day;

                                        // Đặt giá trị cho input
                                        input.value = formattedDate;

                                        (function(){

                                            let today = new Date();
                                            document.getElementById('interview_time').min = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
                                        })();
                                    </script>

                                    <div class="mb-3">
                                        <label for="city_id" class="form-label">TẠI TỈNH/ THÀNH PHỐ</label>
                                        <select name="city_id" id="city_id" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                            <option selected disabled>CHỌN TỈNH THÀNH PHỐ</option>
                                            <option th:each="city : ${cities}" th:value="${city.id}" th:text="${city.city_name}"></option>
                                        </select>
                                    </div>
                                    <br>
                                    <b class="mb-4" th:text="${#strings.toUpperCase('content RECRUITMENT')}"></b>
                                    <br><br>
                                    <div class="mb-3">
                                        <label for="image" class="form-label">Image workplace</label>
                                        <input type="file" class="form-control" value="" name="image" id="image" >
                                    </div>
                                    <div class="mb-3">
                                        <label for="title" class="form-label">TIÊU ĐỀ TUYỂN DỤNG</label>
                                        <input type="text" class="form-control" name="title" id="title" >
                                    </div>
                                    <div class="mb-3">
                                        <label for="quantity" class="form-label">SỐ LUỢNG TUYỂN</label>
                                        <input type="number" class="form-control" name="quantity" id="quantity" >
                                    </div>
                                    <div class="mb-3">
                                        <label for="job_id" class="form-label">CÔNG VIỆC/ NGÀNH NGHỀ</label>
                                        <select name="job_id" id="job_id" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                            <option selected disabled>CHỌN CÔNG VIỆC/ NGÀNH NGHỀ</option>
                                            <option th:each="job : ${jobs}" th:value="${job.id}" th:text="${job.nameJob}"></option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="category_id" class="form-label">LOẠI CÔNG VIỆC</label>
                                        <select name="category_id" id="category_id" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                            <option selected disabled>LOẠI CÔNG VIỆC</option>
                                            <option th:each="categoryJob : ${categoryJobs}" th:value="${categoryJob.id}" th:text="${categoryJob.categoryName}"></option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="pay_form" class="form-label">HÌNH THỨC TRẢ LƯƠNG</label>
                                        <select name="pay_form" id="pay_form" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                            <option selected disabled>CHỌN HÌNH THỨC</option>
                                            <option value="GIỜ">THEO GIỜ</option>
                                            <option value="NGÀY">THEO NGÀY</option>
                                            <option value="THÁNG">THEO THÁNG</option>
                                            <option value="NĂM">THEO NĂM</option>
                                        </select>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label for="max_payroll" class="form-label">LƯƠNG TỐI ĐA</label>
                                            <input type="text" class="form-control" required
                                                   oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                                                   name="max_payroll" id="max_payroll" >
                                        </div>
                                        <div class="col-lg-6">
                                            <label for="min_payroll" class="form-label">LƯƠNG TỐI THIỂU</label>
                                            <input type="text" class="form-control" required
                                                   oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                                                   name="min_payroll" id="min_payroll" >
                                        </div>
                                    </div>
                                    <br>
                                    <div class="mb-3">
                                        <label for="description" class="form-label">MÔ TẢ CÔNG VIỆC</label>
                                        <textarea type="text" class="form-control" name="description" id="description" >
                                        </textarea>
                                    </div>
                                    <br>
                                    <b class="mb-4" th:text="${#strings.toUpperCase('Requirement with candidate')}"></b>
                                    <br><br>

                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="switch_re">
                                        <label class="form-check-label" for="switch_re">YÊU CẦU DÀNH CHO ỨNG VIÊN</label>
                                    </div>
                                    <br>
                                    <div id="re_block">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label for="max_age" class="form-label">TUỔI TỐI ĐA</label>
                                                <input type="number" class="form-control"
                                                       name="max_age" id="max_age" >
                                            </div>
                                            <div class="col-lg-6">
                                                <label for="min_age" class="form-label">TUỔI TỐI THIỂU</label>
                                                <input type="number" class="form-control"
                                                       name="min_age" id="min_age" >
                                            </div>
                                        </div>
                                        <br>
                                        <div class="mb-3">
                                            <label for="education" class="form-label">TRÌNH ĐỘ</label>
                                            <select name="education" id="education" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                                <option selected disabled>CHỌN TRÌNH ĐỘ</option>
                                                <option value="cấp 1">Cấp 1</option>
                                                <option value="cấp 2">Cấp 2</option>
                                                <option value="cấp 3">Cấp 3</option>
                                                <option value="trung cấp">Trung cấp</option>
                                                <option value="cao đẳng">Cao đẳng</option>
                                                <option value="đại học">Đại học</option>
                                                <option value="khác">Khác</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="experience" class="form-label">KINH NGHIỆM</label>
                                            <select name="experience" id="experience" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                                <option selected disabled>CHỌN KINH NGHIỆM</option>
                                                <option value="<1 year">< 1 year</option>
                                                <option value="1-2 year">1-2 year</option>
                                                <option value="3-5 year">3-5 year</option>
                                                <option value="6-10 year">6-10 year</option>
                                                <option value="> 10 year">> 10 year</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="requirement" class="form-label">KỸ NĂNG, SỞ THÍCH...</label>
                                            <textarea type="text" class="form-control" name="requirement" id="requirement" >
                                        </textarea>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-check-label" for="re_image">
                                                YÊU CẦU ẢNH CỦA ỨNG VIÊN
                                            </label>
                                            <select name="re_image" id="re_image" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                                <option selected disabled>CHỌN</option>
                                                <option value="0">KHÔNG YÊU CẦU</option>
                                                <option value="1">CÓ YÊU CẦU</option>
                                            </select>
                                        </div>
                                    </div>
                                    <script>
                                        document.addEventListener('DOMContentLoaded', function () {
                                            const switchRe = document.getElementById('switch_re');
                                            const reBlock = document.getElementById('re_block');

                                            reBlock.style.display = switchRe.checked ? 'block' : 'none';

                                            switchRe.addEventListener('change', function () {
                                                reBlock.style.display = this.checked ? 'block' : 'none';
                                            });
                                        });
                                    </script>

                                    <br>

                                    <button type="submit" class="btn btn-primary">ĐĂNG TIN</button>
                                </form>
                            </div>


                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




</body>
</html>