<!DOCTYPE html>
<html  lang="en"
       xmlns:th="http://thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layout}" th:with="currentPage='Show post'">
<head>
    <meta charset="UTF-8">
    <title>Show post</title>
</head>
<body>
    <div layout:fragment="content">

        <div class="contest-details">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="top-content">
                            <div class="row">
                                <div class="col-lg-8">
                                     <span th:if="${userRoles!=null}">
                                        <span class="open" th:text="${userRoles}"></span>
                                    </span>
                                    <span class="wish-list">
                                        <i class="fa fa-user"></i>
                                        <i th:text="${#authentication.name}"></i>
                                    </span>
                                </div>
                                <div class="col-lg-4">
                                    <ul>
                                        <li><i class="fa fa-medal"></i>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="main-content">


                            <div class="your-job">
                                <div class="row">

                                    <div id="carouselExampleIndicators" class="carousel slide mb-5">
                                        <div class="carousel-indicators">
                                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                        </div>
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img th:src="${'/assets/images/pricing-01.jpg'}" class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item">
                                                <img th:src="${'/assets/images/pricing-01.jpg'}" class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item">
                                                <img th:src="${'/assets/images/pricing-01.jpg'}" class="d-block w-100" alt="...">
                                            </div>
                                        </div>
                                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>

                                    <div class="mb-3">
                                        <a th:href="@{'/post/show/' + ${post.id}}">
                                            <h3>
                                                <i class="text-danger fa fa-people-arrows"></i>
                                                <span class="text-info" th:text="${post.title}"></span>
                                            </h3>
                                        </a>
                                    </div>

                                    <div class="col-lg-2">
                                        <div>
                                            <h5>
                                                <i class="text-primary fa fa-key"></i>
                                                <span class="text-black" th:text="${post.id}"></span>
                                            </h5>
                                        </div>

                                        <div>
                                            <h5>
                                                <i class="text-info fa fa-users"></i>
                                                <span class="text-info" th:text="${post.you_are}"></span>
                                            </h5>
                                        </div>
                                        <div>
                                            <b>
                                                <i class="text-warning fa fa-city"></i>
                                                <span class="text-danger" th:text="${post.business_name}"></span>
                                            </b>
                                        </div>
                                        <div>
                                            <b>
                                                <i class="text-success fa fa-briefcase"></i>
                                                <span class="text-success" th:text="${post.job.nameJob}"></span>
                                            </b>
                                        </div>
                                    </div>

                                    <div class="col-lg-2">
                                        <div>
                                            <i class="text-info fa fa-map-location"></i>
                                            <span class="text-info" th:text="${post.official_address}"></span>
                                        </div>

                                        <div>
                                            <i class="text-info fa fa-signal"></i>
                                            <span  class="text-info">Số lượng tuyển</span>
                                            <span class="text-info" th:text="${post.quantity}"></span>
                                        </div>
                                        <div>
                                            <i class="text-info fa fa-clock"></i>
                                            <span  class="text-info">Hình thức trả lương theo </span>
                                            <span class="text-info" th:text="${post.pay_form}"></span>
                                        </div>

                                        <div>
                                            <i class="text-info fa fa-info-circle"></i>
                                            <span  class="text-info">Hình thức tuyển: </span>
                                            <span class="text-info" th:text="${post.categoryJob.categoryName}"></span>
                                        </div>

                                    </div>

                                    <div class="col-lg-2">
                                        <div>
                                            <i class="text-success fa fa-money-bill-alt"></i>
                                            <span class="text-success">Lương tối đa: </span>
                                            <span class="text-success" th:text="${#numbers.formatDecimal(post.max_payroll, 0, 'COMMA', 0, 'POINT') + ' VNĐ/' + post.pay_form}"></span>
                                        </div>
                                        <div>
                                            <i class="text-danger fa fa-money-bill-alt"></i>
                                            <span class="text-danger">Lương tối thiểu: </span>
                                            <span class="text-danger" th:text="${#numbers.formatDecimal(post.min_payroll, 0, 'COMMA', 0, 'POINT') + ' VNĐ/' + post.pay_form}"></span>
                                        </div>
                                        <div>
                                            <i class="text-warning fa fa-city"></i>
                                            <span class="text-info" th:text="${post.city.city_name}"></span>
                                        </div>
                                    </div>

                                    <div class="pt-4"  th:if="${post.re_image != 0}">
                                        <h5 class="mb-3">YÊU CẦU: </h5>
                                        <span class="mr-3">
                                    TUỔI TỐI ĐA: <span class="text-danger" th:text="${post.max_age}"></span>
                                </span>
                                        <span class="mr-3">
                                    TUỔI TỐI THIỂU: <span class="text-danger" th:text="${post.min_age}"></span>
                                </span>
                                        <span class="mr-3">
                                    TRÌNH ĐỘ: <span class="text-danger" th:text="${post.education}"></span>
                                </span>
                                        <span class="mr-3">
                                    KINH NGHIỆM: <span class="text-danger" th:text="${post.experience}"></span>
                                </span>

                                        <div th:if="${post.re_image == 1}" class="pt-2">
                                            <i class="text-success fa fa-circle"></i>
                                            <span>YÊU CẦU ỨNG VIÊN CUNG CẤP ẢNH CÁ NHÂN!</span>
                                        </div>


                                        <div class="pt-3">
                                            <i class="text-danger fa fa-info-circle"></i>
                                            <span class="text-danger" th:text="${post.requirement}"></span>
                                        </div>
                                    </div>
                                    <div>
                                        <i class="text-black fa fa-info-circle pt-3"></i>
                                        <span class="text-black" th:text="${post.description}"></span>
                                    </div>

                                    <div class="pt-3 mb-5">
                                        <form th:action="@{''}" method="POST">
                                            <button class="search-btn" type="submit">ỨNG TUYỂN</button>
                                        </form>
                                    </div>

                                    <br><br><br>
                                    <hr>


                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</body>
</html>