<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" th:with="currentPage='Your info'">
<head>
    <meta charset="UTF-8">
    <title>Your info</title>
</head>
<body>

    <div layout:fragment="content">

        <div class="user-info" th:each="customer : ${customerInfo}">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="info-customer">
                            <div>
                                <div class="avatar">
                                    <img th:src="@{assets/images/user-avatar.jpg}" alt="">
                                    <h4 th:text="${'#'+customer.id + ' ' + customer.full_name}"></h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-sm-6">
                                    <div class="info">
                                        <h6>ident code</h6>
                                        <h5 th:text="${customer.ident_code}"></h5>
                                        <span>of 1680</span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-6">
                                    <div class="info">
                                        <h6>Address</h6>
                                        <h5 th:text="${customer.address}"></h5>
                                        <span>of 1680</span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-6">
                                    <div class="info">
                                        <h6>Phone number</h6>
                                        <h5 th:text="${customer.phone_number}"></h5>
                                        <span>Picture Category</span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-6">
                                    <div class="info">
                                        <h6>Birthday</h6>
                                        <h5 th:text="${customer.birthday_customer}"></h5>
                                        <span>All Time</span>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>

    </div>
</body>
</html>