<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" th:with="currentPage='Your info'">
<head>
    <meta charset="UTF-8">
    <title>Your info</title>
    <style>
        .btn-save-job-detail{
            width: 100%;
            font-size: 20px;
            padding: 15px;
            text-align: center;
        }
        .main-button button {
            font-size: 15px;
            color: #fff;
            background-color: #00bdfe;
            border: 1px solid #00bdfe;
            padding: 10px 30px;
            display: inline-block;
            border-radius: 10px;
            font-weight: 500;
            text-transform: capitalize;
            letter-spacing: 0.5px;
            transition: all .3s;
        }
    </style>
</head>
<body>

    <div layout:fragment="content">

        <div class="contest-details">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="top-content">
                            <div class="row">
                                <div class="col-lg-8">
                                    <span th:if="${userRoles != null}">
                                         <span class="open" th:text="${userRoles}"></span>
                                    </span>
                                    <span class="wish-list">
                                        <i class="fa fa-user"></i>
                                        <em th:text="${email}"></em>
                                    </span>
                                </div>
                                <div class="col-lg-4">
                                    <ul>
                                        <li><i class="fa fa-medal"></i> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="main-content">
                            <h4>THÔNG TIN CỦA BẠN</h4>
                            <form th:each="labor : ${laborInfo}" th:action="@{'/update-info/' + ${labor.id}}" method="POST">
                                <div class="row"  >
                                    <div class="mb-3">
                                        <label for="full_name" class="form-label">HỌ VÀ TÊN</label>
                                        <input type="text" class="form-control" th:value="${labor.full_name}" id="full_name" name="full_name" placeholder="Full name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="address" class="form-label">DỊA CHỈ</label>
                                        <input type="text" class="form-control" th:value="${labor.address}" id="address" name="address" placeholder="Address">
                                    </div>
                                    <div class="mb-3">
                                        <label for="phone_number" class="form-label">SỐ ĐIỆN THOẠI</label>
                                        <input type="text" class="form-control"  th:value="${labor.phone_number}" id="phone_number" name="phone_number" placeholder="Phone number">
                                    </div>
                                    <div class="mb-3">
                                        <label for="birthday" class="form-label">NGÀY SINH</label>
                                        <input type="datetime-local" class="form-control" th:value="${labor.birthday}" id="birthday" name="birthday" placeholder="Birthday">
                                    </div>

                                    <div class="col-lg-12">
                                        <input type="hidden" class="form-control" value="1" id="status" name="status" placeholder="status">
                                    </div>

                                    <div class="col-lg-12">
                                        <select name="city_id" id="city_id" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                            <option th:value="${labor.city.id}" th:text="${labor.city.city_name}"> </option>
                                            <option th:each="city : ${cities}" th:value="${city.id}" th:text="${city.city_name}"></option>
                                        </select>
                                    </div>

                                    <div class="col-lg-12" th:if="${success}" >
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" >
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                                            <!--/*@thymesVar id="success" type="text"*/-->
                                            <strong th:text="${success}"></strong>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    </div>

                                    <div class="col-lg-12" th:if="${failed}">
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" >
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                                            <!--/*@thymesVar id="failed" type="text"*/-->
                                            <strong th:text="${failed}"></strong>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    </div>

                                </div>
                                <div class="main-button">
                                    <button class="btn-save-job-detail" type="submit">SỬA</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>


</body>
</html>