<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" th:with="currentPage='Show Detail Labor'">
<head>
    <meta charset="UTF-8">
    <title>Show Detail Labor</title>
</head>
<body>

    <div layout:fragment="content">

        <div class="contest-details">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="top-content">
                            <div class="row">
                                <div class="col-lg-8">
                                    <span class="open" th:if="${userRoles==null}">
                                        <span th:text="${'[GUEST]'}"></span>
                                    </span>
                                    <span class="open" th:if="${userRoles!=null}">
                                        <span class="open" th:text="${userRoles}"></span>
                                    </span>
                                    <span class="wish-list">
                                        <i class="fa fa-user"></i>
                                        <i th:text="${#authentication.name}"></i>
                                    </span>
                                </div>
                                <div class="col-lg-4">
                                    <ul>
                                        <li><i class="fa fa-medal"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="main-content">
                            <h4>Job detail by labor</h4>
                            <h5>Labor Information</h5>
                            <div >
                                <p>
                                    <b class="text-info">Full name:</b>
                                    <span th:text="${labor.full_name}"></span>
                                </p>
                                <p>
                                    <b class="text-info">Address:</b>
                                    <span th:text="${labor.address}"></span>
                                </p>

                                <p>
                                    <b>Phone number:</b>
                                    <span th:text="${labor.phone_number}"></span>
                                </p>
                                <p>
                                    <b>Birthday:</b>
                                    <span th:text="${labor.birthday}"></span>
                                </p>

                            </div>

                            <h5  class="second-title">Job information by labor</h5>
                            <br>
                            <div th:if="${laborDetails!=null}"  th:each="jobDetail : ${laborDetails}">
                                <em>
                                    <b class="text-info">Category </b>
                                    <span th:text="${jobDetail.job.categoryJob.categoryName}"></span>
                                </em>
                                <p>
                                    <b>Name job:</b>
                                    <span th:text="${jobDetail.job.nameJob}"></span>
                                </p>
                                <p>
                                    <b>Official work address:</b>
                                    <span th:text="${jobDetail.official_work_address}"></span>
                                </p>
                                <p>
                                    <b>Experience:</b>
                                    <span th:text="${jobDetail.experience}"></span>
                                </p>
                                <p>
                                    <b>Education:</b>
                                    <span th:text="${jobDetail.education}"></span>
                                </p>
                                <div>
                                    <b>Skills: </b>
                                    <p th:each="commentSkill : ${jobDetail.commentSkills}" class="mr-3" th:text="${commentSkill.content}"></p>
                                    <br><br>
                                </div>

                                <h4>
                                    <b class="text">price job:</b>
                                    <span class="text-warning"  th:text="${#numbers.formatDecimal(jobDetail.job.price, 0, 'COMMA', 0, 'POINT') + ' VNĐ/day'}"></span>
                                </h4>

                                <div sec:authorize="isAuthenticated()">
                                    <div th:if="${#lists.contains(userRoles, 'ROLE_CUSTOMER')}" >
                                        <div class="col-lg-12">
                                            <form th:action="@{'/save/cart/job-detail/' + ${jobDetail.id}}" method="POST">
                                                <button type="submit" class="btn btn-primary">BOOK NOW</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>

                            <div class="main-button" sec:authorize="!isAuthenticated()" >
                                <a th:href="${'/login?bookingNow'}">Booking now</a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>