<!DOCTYPE html>
<html  lang="en"
       xmlns:th="http://thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:sec="http://www.thymeleaf.org"
       layout:decorate="~{layout}" th:with="currentPage='Your Job'">
<head>
    <meta charset="UTF-8">
    <title>Your Job </title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

    <div layout:fragment="content">

        <div class="contest-details">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="top-content">
                            <div class="row">
                                <div class="col-lg-8">
                                    <span>
                                        <span class="open">[ROLE_LABOR]</span>
                                    </span>
                                    <span class="wish-list">
                                        <i class="fa fa-user"></i>
                                        <i>lol00sever@gmail.com</i>
                                    </span>
                                </div>
                                <div class="col-lg-4">
                                    <ul>
                                        <li>
                                            <i class="fa fa-medal"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="main-content">

                            <div class="col-lg-12" th:if="${success}" >
                                <div class="alert alert-success alert-dismissible fade show" role="alert" >
                                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                                    <!--/*@thymesVar id="success" type="text"*/-->
                                    <strong th:text="${success}"></strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            </div>

                            <div class="col-lg-12" th:if="${failed}">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert" >
                                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                                    <!--/*@thymesVar id="failed" type="text"*/-->
                                    <strong th:text="${failed}"></strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            </div>

                            <ul>
                                <h4><i class="fa fa-add text-info"></i> YOUR JOB INFORMATION</h4>
                            </ul>

                            <table th:if="${jobDetails!=null}">
                                <tr>
                                    <th>ID</th>
                                    <th>Full name</th>
                                    <th>Name job</th>
                                    <th>Price</th>
                                    <th>Image</th>
                                    <th>In city</th>
                                    <th colspan="2">ACTION</th>
                                </tr>
                                <tr  th:each="jobDetail :${jobDetails}">
                                    <td>
                                        <span th:text="${jobDetail.id}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${jobDetail.labor.full_name}"></span>
                                    </td>
                                    <td >
                                        <form th:action="@{'/update/job-detail/' + ${jobDetail.id}}" method="POST" th:object="${jobDetail}">
                                            <select  class="form-select" th:id="'job_id_' + ${jobDetail.job.id}" name="job_id" >
                                                <option th:value="${jobDetail.job.id}" th:text="${jobDetail.job.nameJob}"></option>
                                                <option th:each="job : ${jobs}" th:value="${job.id}" th:text="${job.nameJob}"></option>
                                            </select>
                                            <input type="hidden" th:value="${labor_id}" name="labor_id" id="labor_id">
                                            <div class="d-flex justify-content-center pt-2">
                                                <button class="btn-warning" type="submit" >
                                                    UPDATE
                                                </button>
                                            </div>
                                        </form>
                                    </td>
                                    <td>
                                        <span th:text="${money}"></span>
                                    </td>
                                    <td>
                                        <img width="100%" th:src="${'/assets/images/' + jobDetail.job.imageJob}" alt="">
                                    </td>
                                    <td>
                                        <span th:text="${jobDetail.labor.city.city_name}"></span>
                                    </td>
                                    <td>
                                        <form th:action="@{'/delete/job-detail/' + ${jobDetail.id}}" method="POST">
                                            <button class="btn-danger" type="submit" >
                                                DELETE
                                            </button>
                                        </form>
                                    </td>

                                </tr>
                            </table>

                            <div class="row">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

</body>


</html>