<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" th:with="currentPage='Job'">
<head>
    <meta charset="UTF-8">
    <title>Job</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>

    <div layout:fragment="content">

        <div class="contest-details">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="top-content">
                            <div class="row">
                                <div class="col-lg-8">
                                    <span th:if="${roleUser!=null}">
                                        <span class="open" th:text="${roleUser}"></span>
                                    </span>
                                    <span class="wish-list">
                                        <i class="fa fa-user"></i>
                                        <i th:text="${#authentication.name}"></i>
                                    </span>
                                </div>
                                <div class="col-lg-4">
                                    <ul>
                                        <li><i class="fa fa-medal"></i>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="col-lg-12">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${param.unauthorized}">
                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Failed:"><use xlink:href="#check-circle-fill"/></svg>
                                <strong>403 Unauthorized!</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                        <div class="main-content">

                            <h4>OUR JOB SERVICE INFORMATION</h4>
                            <table>
                                <tr>
                                    <th>Name job</th>
                                    <th>Price</th>
                                    <th>Description</th>
                                    <th>Image</th>
                                    <th colspan="2">ACTION</th>
                                </tr>
                                <tr th:each="job :${jobs}">
                                    <td th:text="${job.nameJob}"></td>
                                    <td th:text="${#numbers.formatDecimal(job.price, 0, 'COMMA', 0, 'POINT') + ' VNĐ/day'}"></td>
                                    <td th:text="${job.description}"></td>
                                    <td>
                                        <img width="100%" th:src="${'/assets/images/'+job.imageJob}" alt="">
                                    </td>
                                    <td>
                                        <a style="color: #00bdfe" th:href="@{'/jobs/show/' + ${job.id}}">
                                            DETAIL
                                        </a>
                                    </td>
                                    <td>
                                        <form th:action="@{'/save/cart/job/' + ${job.id}}" method="POST">
                                              <span th:if="${labor_id != null}">
                                                <input type="hidden" th:value="${labor_id}" name="labor_id" id="labor_id">
                                              </span>
                                            <input type="hidden" th:value="${job.id}" name="id" th:id="'id_' + ${job.id}">
                                            <button th:if="${#lists.contains(roleUser, 'ROLE_LABOR')}" class="btn btn-primary" type="submit" name="selectedJobId">CHOOSE JOB</button>
                                        </form>
                                    </td>
                                </tr>

                            </table>

                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

</body>
</html>