<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org"
      layout:decorate="~{layout}" th:with="currentPage='Show Job'">
<head>
    <meta charset="UTF-8">
    <title>Show job</title>
</head>
<body>

    <div layout:fragment="content">

        <div class="contest-details">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="top-content">
                            <div class="row">
                                <div class="col-lg-8">
                                     <span th:if="${roleUser!=null}">
                                        <span class="open" th:text="${roleUser}"></span>
                                    </span>
                                    <span class="wish-list">
                                        <i class="fa fa-user"></i>
                                        <i th:text="${#authentication.name}"></i>
                                    </span>
                                </div>
                                <div class="col-lg-4">
                                    <ul>
                                        <li><i class="fa fa-medal"></i>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="main-content">
                            <h4>Job detail</h4>
                            <h6>Name job:
                                <span th:text="${job.nameJob}"></span>
                            </h6>
                            <p>
                                <b>Job description: </b>
                                <span th:text="${job.description}"></span>
                            </p>
                            <h5>
                                Price: <span th:text="${money}"></span>
                            </h5>
                            <div class="row">

                            </div>
                            <div class="main-button" sec:authorize="!isAuthenticated()">
                                <a th:href="@{/login?please}">CHOOSE JOB</a>
                            </div>
                            <div class="main-button" th:if="${#lists.contains(userRoles, 'ROLE_LABOR')}" sec:authorize="isAuthenticated()">
                                <form th:action="@{'/save/cart/job/' + ${job.id}}" method="POST">
                                      <span th:if="${labor_id != null}">
                                        <input type="hidden" th:value="${labor_id}" name="labor_id" id="labor_id">
                                      </span>
                                    <input type="hidden" th:value="${job.id}" name="id" th:id="'id_' + ${job.id}">
                                    <button th:if="${#lists.contains(roleUser, 'ROLE_LABOR')}" class="btn btn-primary" type="submit" name="selectedJobId">
                                        CHOOSE JOB
                                    </button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>