<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="header">
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a th:href="@{/}" class="logo">
                            <img th:src="@{/assets/images/bookingLaborLogo.png}" alt="bookingLaborLogo">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li  sec:authorize="!isAuthenticated()" ><a th:href="@{/}" class="active">TRANG CHỦ</a></li>

                            <li class="has-sub" >
                                <a href="javascript:void(0)">DANH MỤC</a>
                                <ul class="sub-menu" style="width: 300px">
                                    <li th:each="categoryJob : ${categoryJobs}">
                                        <a th:href="@{'/category-job/' + ${categoryJob.id}}" th:text="${categoryJob.categoryName}"></a>
                                    </li>
                                </ul>
                            </li>


                            <li class="has-sub" >
                                <a href="javascript:void(0)">
                                    TIN
                                </a>
                                <ul class="sub-menu">
                                    <li> <a th:href="@{/post/create}">TẠO TIN TUYỂN DỤNG</a></li>
                                    <li sec:authorize="isAuthenticated()"> <a th:href="@{/post-manager}">QUẢN LÝ TIN TUYỂN DỤNG</a></li>
                                </ul>
                            </li>

                            <li class="has-sub" >
                                <a href="javascript:void(0)">LIÊN HỆ</a>
                                <ul class="sub-menu">
                                    <li> <a th:href="@{/contact}">LIÊN HỆ NGAY</a></li>
                                    <li> <a th:href="@{/contact/report}">TỐ CÁO</a></li>
                                </ul>
                            </li>

                            <li class="has-sub" sec:authorize="isAuthenticated()" >
                                <a href="javascript:void(0)">ỨNG VIÊN</a>
                                <ul class="sub-menu">
                                    <li> <a th:href="@{/jobs}">CÁC CÔNG VIỆC</a></li>
                                    <li><a th:href="@{/your-info-labor}">HỒ SƠ THÔNG TIN CÁ NHÂN</a></li>
                                    <li><a th:href="@{/labor-create-info}">TẠO HỒ SƠ</a></li>
                                    <li sec:authorize="hasRole('ROLE_LABOR')">
                                        <a th:href="@{/your-cart}">CHI TIẾT CÔNG VIÊC</a>
                                    </li>
                                    <li  sec:authorize="hasRole('ROLE_LABOR')">
                                        <a th:href="@{/your-job}">HỒ SƠ CÔNG VIỆC</a>
                                    </li>
                                    <li  sec:authorize="hasRole('ROLE_LABOR')">
                                        <a th:href="@{/booking-manager-by-labor}">QUẢN LÝ ĐƠN TUYỂN DỤNG</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="has-sub"  sec:authorize="isAuthenticated()">
                                <a href="javascript:void(0)">NGƯỜI TUYỂN</a>
                                <ul class="sub-menu">
                                    <li><a th:href="@{/your-info-customer}">HỒ SƠ THÔNG TIN CÁ NHÂN</a></li>
                                    <li ><a th:href="@{/customer-create-info}">TẠO HỒ SƠ</a></li>
                                    <li  sec:authorize="hasRole('ROLE_CUSTOMER')" >
                                        <a th:href="@{/your-booking-cart}">CHI TIẾT TUYỂN DỤNG</a>
                                    </li>
                                    <li sec:authorize="hasRole('ROLE_CUSTOMER')">
                                        <a th:href="@{/your-booking}">QUẢN LÝ ĐƠN TUYỂN DỤNG</a>
                                    </li>
                                </ul>
                            </li>

                            <li sec:authorize="!isAuthenticated()"><a th:href="@{/blog}">BLOG</a></li>
                            <li sec:authorize="isAuthenticated()"><a th:href="@{/your-menu}">TRANG CHỦ</a></li>


                        </ul>

                        <div class="border-button"  sec:authorize="!isAuthenticated()">
                            <a id="modal_trigger" href="#modal" class="sign-in-up"><i class="fa fa-user"></i> Sign In/Up</a>
                        </div>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>

                        <div class="border-button"  sec:authorize="isAuthenticated()">
<!--                            class="sign-in-up"-->
                            <a id="modal_trigger" onclick="confirmLogout()"  th:href="@{/logout}" ><i class="fa fa-power-off"></i> LOGOUT</a>
                        </div>

                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div id="modal" class="popupContainer" style="display:none;">
        <div class="popupHeader">
            <span class="header_title">Login</span>
            <span class="modal_close"><i class="fa fa-times"></i></span>
        </div>

        <section class="popupBody">
            <!-- Social Login -->
            <div class="social_login">
                <div class="">
                    <a href="#" class="social_box fb">
                        <span class="icon"><i class="fab fa-facebook"></i></span>
                        <span class="icon_title">Connect with Facebook</span>

                    </a>

                    <a href="#" class="social_box google">
                        <span class="icon"><i class="fab fa-google-plus"></i></span>
                        <span class="icon_title">Connect with Google</span>
                    </a>
                </div>

                <div class="centeredText">
                    <span>Or use your Email address</span>
                </div>

                <div class="action_btns">
                    <div class="one_half"><a href="#" id="login_form" class="btn">Login</a></div>
                    <div class="one_half last"><a href="#" id="register_form" class="btn">Sign up</a></div>
                </div>
            </div>

            <!-- Username & Password Login form -->
            <div class="user_login">
                <form th:action="@{/login}" method="POST">
                    <label>Email / Username</label>
                    <input name="username" type="text" id="username" />
                    <br />

                    <label>Password</label>
                    <input name="password" type="password" id="password" />
                    <br />

                    <div class="action_btns">
                        <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
                        <div class="one_half last"><button type="submit" class="btn btn_red">Login</button></div>
                    </div>
                </form>

                <a href="#" class="forgot_password">Forgot password?</a>
            </div>

            <!-- Register Form -->
            <div class="user_register">
                <form th:action="@{/register/save}" method="POST">
                    <label>Email Address</label>
                    <input name="email" type="email" id="email" >
                    <br />
                    <label>Password</label>
                    <input name="password" type="password" id="password" >
                    <br />

                    <div class="action_btns">
                        <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
                        <div class="one_half last"><button type="submit" class="btn btn_red">Register</button></div>
                    </div>
                </form>
            </div>

        </section>
    </div>

    <div class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 header-text">
                    <img height="100%" width="30%" th:src="@{/assets/images/book1.png}" alt="">
                </div>
            </div>
        </div>
    </div>


    <div class="search-form">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <form  th:action="@{'/guest/search/jobByLabor'}" id="search-form" name="gs" method="GET" role="search">
                        <div class="row">
                            <div class="col-lg-10">
                                <fieldset>
                                    <label for="nameJob" class="form-label">NHẬP VÀO CÔNG VIỆC CỦA LAO ĐỘNG BẠN MUỐN TUYỂN</label>
                                    <input name="nameJob" id="nameJob" placeholder="NHẬP VÀO CÔNG VIỆC CỦA LAO ĐỘNG BẠN MUỐN TUYỂN...">
                                </fieldset>
                            </div>

                            <div class="col-lg-2">
                                <fieldset>
                                    <button style="font-size: 15px" type="submit" class="main-button">TÌM KIẾM</button>
                                </fieldset>
                            </div>
                            <br/><br/><br><br>
                            <div class="col-lg-12 pt-2">
                                 <span  style="padding-right: 15px">
                                    <a class="filter-btn" id="search-option" th:text="${#strings.toUpperCase('LỌC')}"></a>
                                </span>
                                <span  style="padding-right: 15px" th:each="hash : ${hashtag}">
                                    <a class="text-info" th:href="${hash.content}" th:text="${#strings.toUpperCase(hash.name)}"></a>
                                </span>
                                <br><br>
                                <span sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_STAFF_CUSTOMER')"  style="padding-right: 15px" th:each="tag : ${admin_tag}">
                                    <a class="text-info" th:href="${tag.content}" th:text="${#strings.toUpperCase(tag.name)}"></a>
                                </span>

                            </div>

                        </div>
                    </form>

                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <!-- Nội dung của modal -->
                            <b>BỘ LỌC.</b>
                            <form th:action="${'/guest/filter-price-asc'}" method="GET">
                                <button class="search-btn" type="submit">LỌC GIÁ THẤP NHẤT</button>
                            </form>
                            <br>
                            <hr>
                            <form th:action="${'/guest/filter-price-desc'}" method="GET">
                                <button class="search-btn" type="submit">LỌC GIÁ CAO NHẤT</button>
                            </form>
                            <br>
                            <hr>
                            <form th:action="${'/guest/search-job'}" method="GET">
                                <input class="form-control" name="name_job" id="name_job" placeholder="TÌM KIẾM CÔNG VIỆC...">

                                <button class="search-btn" type="submit">TÌM CÔNG VIỆC BẠN MUỐN LÀM</button>
                            </form>
                        </div>
                    </div>
                    <script th:inline="javascript">
                        const modal = document.getElementById("myModal");
                        const span = document.getElementsByClassName("close")[0];

                        document.getElementById("search-option").addEventListener("click", function() {
                            modal.style.display = "block";
                        });

                        span.onclick = function() {
                            modal.style.display = "none";
                        };

                        window.onclick = function(event) {
                            if (event.target === modal) {
                                modal.style.display = "none";
                            }
                        };

                    </script>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>


</div>



<div  th:fragment="footer">
    <!-- Footer Start -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright © 2024 <a href="#">BookingLabor</a> Our Labor High Quality.

                        A Labor <a title="CSS Templates" rel="sponsored" href="https://templatemo.com/page/1" target="_blank">Resource</a> Hight <a title="CSS Templatesss" rel="sponsored" href="https://themewagon.com" target="_blank"></a>Quality</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
</div>
</body>
</html>