<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" th:with="currentPage='Login'">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    <div layout:fragment="content">


        <section class="contact-us">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-heading text-center">
                            <h6>LOGIN</h6>
                            <h4>LOGIN<em> TO ACCOUNT</em></h4>
                        </div>
                    </div>


                    <div class="col-lg-12">
                        <form id="contact" th:action="@{/login}" method="POST">
                            <div class="row">
                                <div class="col-lg-12">
                                    <fieldset>
                                        <input type="text" name="username" id="username" placeholder="Your Email..." autocomplete="on" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <input type="password" name="password" id="password" placeholder="Your password..." autocomplete="on" required="">
                                    </fieldset>
                                </div>

                                <div class="col-lg-12">
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${param.error}">
                                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Failed:"><use xlink:href="#check-circle-fill"/></svg>
                                        <strong>Invalid username and password!</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${param.login}">
                                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Failed:"><use xlink:href="#check-circle-fill"/></svg>
                                        <strong>Login, please!</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${param.please}">
                                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Failed:"><use xlink:href="#check-circle-fill"/></svg>
                                        <strong>Login to the page to choose your job, Please!</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${param.bookingNow}">
                                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Failed:"><use xlink:href="#check-circle-fill"/></svg>
                                        <strong>Login to the page to book labor, Please!</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="orange-button">LOGIN</button>
                                    </fieldset>
                                </div>


                            </div>
                        </form>

                    </div>
                </div>


            </div>
        </section>





    </div>


</body>
</html>