<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" th:with="currentPage='Login'">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    <div layout:fragment="content">


        <section class="contact-us">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div style="margin-top: 0; margin-bottom: 0" class="section-heading text-center">
                            <h6>LOGIN</h6>
                            <h4>LOGIN<em> TO ACCOUNT</em></h4>
                        </div>
                    </div>


                    <div class="col-lg-12">
                        <form id="contact" th:action="@{/login}" method="POST">
                            <div class="row">
                                <div class="col-lg-12">
                                    <fieldset>
                                        <input type="text" name="username" id="username" placeholder="Your Email..." autocomplete="on" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <input type="password" name="password" id="password" placeholder="Your password..." autocomplete="on" required="">
                                    </fieldset>
                                </div>

                                <div class="col-lg-12">
                                    <fieldset>
                                        <span>
                                            <a th:href="@{/forgot-password}">Quên mật khẩu.</a>
                                        </span>
                                    </fieldset>
                                </div>

                                <div class="col-lg-12">
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${param.error}">
                                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Failed:"><use xlink:href="#check-circle-fill"/></svg>
                                        <strong>Invalid username and password!</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${param.reLaborLogin}">
                                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Failed:"><use xlink:href="#check-circle-fill"/></svg>
                                        <strong>Login Please!</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                </div>

                                <div class="col-lg-12 text-center mb-4">
                                    <a class="text-danger" th:href="@{'/oauth2/authorization/google'}">
                                        <svg width="30px" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                                            <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"/>
                                        </svg>
                                    </a>
                                </div>

                                <div class="col-lg-12">
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${param.login}">
                                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Failed:"><use xlink:href="#check-circle-fill"/></svg>
                                        <strong>Login, please!</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${param.please}">
                                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Failed:"><use xlink:href="#check-circle-fill"/></svg>
                                        <strong>Login to the page to choose your job, Please!</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${param.bookingNow}">
                                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Failed:"><use xlink:href="#check-circle-fill"/></svg>
                                        <strong>Login to the page to book labor, Please!</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                </div>

                                <div class="col-lg-12 pt-3">
                                    <!--/*@thymesVar id="verifySuccess" type="text"*/-->
                                    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${verifySuccess}">
                                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="VerifySuccess:"><use xlink:href="#check-circle-fill"/></svg>
                                        <strong th:text="${verifySuccess}"></strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${param.registerFailed}">
                                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Failed:"><use xlink:href="#check-circle-fill"/></svg>
                                        <strong>ĐĂNG KÝ THẤT BẠI!!!</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="orange-button">LOGIN</button>
                                    </fieldset>
                                </div>


                            </div>
                        </form>

                    </div>
                </div>


            </div>
        </section>





    </div>


</body>
</html>