<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org"
      layout:decorate="~{layout}" th:with="currentPage='Show'">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div layout:fragment="content">

        <section class="popular-categories">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="section-heading">
                            <h4>
                                <b>CÁC CÔNG VIỆC</b>
                                <em th:text="${categoryJob.categoryName}"></em>
                            </h4>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="main-button">
                            <a th:href="@{/}">TRỞ VỀ TRANG CHỦ</a>
                        </div>
                    </div>


                    <div class="col-lg-12" >
                        <div class="owl-features owl-carousel" style="position: relative; z-index: 5;">

                            <div class="popular-item" th:each="job :${categoryJob.jobs}">
                                <div class="top-content">
                                    <div class="icon">
                                        <img th:src="@{/assets/images/icon-01.png}" alt="">
                                    </div>
                                    <div class="right">
                                        <h4 th:text="${job.nameJob}"></h4>
                                        <span><em th:text="${'Số công việc của danh mục: ' + countJobsByCategoryJob.apply(job.categoryJob.id)}"></em></span>
                                    </div>
                                </div>
                                <div class="thumb">
                                    <img th:src="${job.imageJob}" alt="">
                                    <span class="category">DANH MỤC CÔNG VIỆC</span>
                                    <span class="likes">
                                        <i class="fa fa-heart"></i>
                                        <b th:text="${job.id}"></b>
                                    </span>
                                </div>
                                <div class="border-button">
                                    <a th:href="${'/jobs/show/' + job.id}" >CHỌN NGAY</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="owl-features owl-carousel" style="position: relative; z-index: 5;">
                            <div th:if="${#lists.isEmpty(categoryJob.jobs)}">
                                <div class="popular-item" >
                                    <div class="top-content">
                                        <div class="icon">
                                            <img th:src="@{/assets/images/icon-01.png}" alt="">
                                        </div>
                                        <div class="right">
                                            <h4 >KHÔNG CÓ CÔNG VỊÊC</h4>
                                            <span><em>SỐ CÔNG VIỆC </em> 0</span>
                                        </div>
                                    </div>
                                    <div class="thumb">
                                        <img th:src="@{/assets/images/pricing-01.jpg}" alt="">
                                        <span class="category">DANH MỤC CÔNG VIỆC</span>
                                        <span class="likes">
                                        <i class="fa fa-heart"></i>
                                        <b></b>
                                    </span>
                                    </div>
                                    <div class="border-button" sec:authorize="!isAuthenticated()">
                                        <a th:href="@{/login?please}">CHỌN NGAY</a>
                                    </div>
                                    <div class="border-button" sec:authorize="isAuthenticated()">
                                        <a th:href="@{/your-menu}">QUAY VỀ TRANG CHỦ</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>



                </div>
            </div>
        </section>



    </div>

</body>
</html>