<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div>
        <h1>Admin creates</h1>

        <div>
            <h2><ul><li>Create category jobs</li></ul></h2>
            <form role="form" method="POST" enctype="multipart/form-data" th:action="@{/category-jobs/create/save}">
                <label for="file" class="col-form-label">File:</label>
                <input type="file" class="form-control"  name="file" id="file">
                <br>
                <button type="submit" class="btn btn-primary">POST</button>
            </form>
        </div>


        <div>
            <h2><ul><li>Create jobs</li></ul></h2>
            <form role="form" method="POST" enctype="multipart/form-data" th:action="@{/jobs/create/save}">
                <label for="file" class="col-form-label">File:</label>
                <input type="file" class="form-control"  name="file" id="file">
                <br>
                <button type="submit" class="btn btn-primary">POST</button>
            </form>
        </div>


        <div>
            <h2><ul><li>Create labors</li></ul></h2>
            <form role="form" method="POST" enctype="multipart/form-data" th:action="@{/labors/create/save}">
                <label for="file" class="col-form-label">File:</label>
                <input type="file" class="form-control"  name="file" id="file">
                <br>
                <button type="submit" class="btn btn-primary">POST</button>
            </form>
        </div>

        <div>
            <h2><ul><li>Create cities</li></ul></h2>
            <form role="form" method="POST" enctype="multipart/form-data" th:action="@{/cities/create/save}">
                <label for="file" class="col-form-label">File:</label>
                <input type="file" class="form-control"  name="file" id="file">
                <br>
                <button type="submit" class="btn btn-primary">POST</button>
            </form>
        </div>


        <div class="alert-context">
            <!--/*@thymesVar id="isEmpty" type="text"*/-->
            <div th:if="${isEmpty}" >
                <b th:text="${isEmpty}" id="create-isEmpty"></b>
            </div>
            <!--/*@thymesVar id="success" type="text"*/-->
            <div th:if="${success}" >
                <b th:text="${success}" id="create-success"></b>
            </div>
            <!--/*@thymesVar id="failed" type="text"*/-->
            <div th:if="${failed}" >
                <b th:text="${failed}" id="create-failed"></b>
            </div>
        </div>


        <form id="contact" th:action="@{/labor-save-info}" method="POST" >
            <div class="row">
                <div class="col-lg-12">
                    <fieldset>
                        <input type="text" name="full_name" id="full_name" placeholder="Your full name..." autocomplete="on" required="">
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset>
                        <input type="text" name="address" id="address" placeholder="Your address..." autocomplete="on" required="">
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset>
                        <input type="text" name="phone_number" id="phone_number" placeholder="Your phone number..." required="">
                    </fieldset>
                </div>


                <div class="col-lg-12">
                    <select name="number_experience" id="number_experience" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option selected>Select your number experience</option>
                        <option value="1">1 Năm</option>
                        <option value="2">2 Năm</option>
                        <option value="3">3 Năm</option>
                    </select>
                </div>

                <div class="col-lg-12">
                    <select name="status" id="status" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option selected>Select your status</option>
                        <option value="0">Busy now</option>
                        <option value="1">Free now</option>
                    </select>
                </div>

                <div class="col-lg-12">
                    <fieldset>
                        <input type="text" name="address_work_official" id="address_work_official" placeholder="Your address work official..."></input>
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset>
                        <input type="date" name="birthday" id="birthday" >
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset>
                        <input type="date" name="free_time_from" id="free_time_from"  >
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset>
                        <input type="date" name="free_time_to" id="free_time_to"  >
                    </fieldset>
                </div>

                <div class="col-lg-12">
                    <select name="city_id" id="city_id" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option selected disabled>Select your city</option>
                        <option th:each="city : ${cities}" th:value="${city.id}" th:text="${city.city_name}"></option>
                    </select>
                </div>


                <div class="col-lg-12">

                    <button type="submit" class="orange-button">POST</button>

                </div>
            </div>
        </form>


    </div>



</body>
<script th:inline="javascript">

    function alertCreate() {

        const nameElement = {i:"isEmpty", s:"success", f:"failed"}

        if(document.querySelector(`#create-${nameElement.i}`)){
            console.log("isEmpty!")
            alert("Upload file, please!");
            document.querySelector(`#create-${nameElement.i}`).style.color = "red";
        }
        if(document.querySelector(`#create-${nameElement.s}`)){
            alert("Create successfully");
            document.querySelector(`#create-${nameElement.s}`).style.color = "#7ed000";
        }
        if(document.querySelector(`#create-${nameElement.f}`)){
            alert("Create failed!!!");
            document.querySelector(`#create-${nameElement.f}`).style.color ="red";
        }

    }

    alertCreate();

</script>
</html>